<style>
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
.bc-icons-2 .breadcrumb-item + .breadcrumb-item::before {
content: none; }
.bc-icons-2 .breadcrumb-item.active {
color: #455a64; }
</style>
<div class="bc-icons-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb grey lighten-5">
            <li class="breadcrumb-item"><a class="black-text" href="/">Home</a><i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i></li>
            <li class="breadcrumb-item active">Stores</li>
        </ol>
    </nav>
</div>