<!-- Call to Action Section -->
<div class="row mb-4">
    <div class="col-md-8">
        <p>{{ cta_data.description|raw }}</p>
    </div>
    <div class="col-md-4">
        <a class="btn btn-lg btn-outline-secondary btn-block" href="{{ path(cta_data.routename) }}" alt="{{ cta_data.title }}" role="button">Ir a {{ cta_data.destiny }}</a>
    </div>
</div>
<hr>