<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; <a href="/" class="navbar-brand">cconlinestores.com</a> 2018</p>
        <p>Las promociones, descuentos y productos son responsabilidad de cada tienda y están sujetos a disponibilidad y vigencia. CCONLINESTORES no tiene responsabilidad y ingerencia sobre las ofertas, productos y servicios publicados.</p>
    </div>
    <!-- /.container -->
</footer>