<div class="card text-center">
  <div class="card-header">
{#     <h4>Importante!! Cuándo es el próximo día sin IVA en Colombia?</h4>#}
    <h3>HotSale descuentos increíbles del 19 al 21 de agosto ¡Entra ya! </h3>
    <h4>Ofertas de HotSale en tecnología, electrodomésticos y más ¡Ingresa ahora aquí!</h4>
    <h4>Busca tu Producto. Suscríbete al boletín y a las alertas.</h4>
  </div>
{#   <div class="card-body row">#}
{#     <div class="col-sm">#}
{#         <h5 class="card-title">El próximo día sin IVA en Colombia es</h5>#}
{#         <p class="card-text">El Domingo 19 de julio y será la última jornada del <b>Día sin IVA</b></p>#}
{#     </div>#}
{#     <div class="col-sm">#}
{#         <h5 class="card-text">FALTAN</h5>#}
{#         <iframe width="300" height="94" src="https://w2.countingdownto.com/3110868" frameborder="0"></iframe>#}
{#     </div>#}
{#     <a href="#" class="btn btn-primary">Go somewhere</a>#}
{#   </div>#}
{#   <div class="card-footer text-muted">#}
{#     Faltan <span id="countdown">pocos</span> días para el próximo día sin IVA en Colombia#}
{#   </div>#}
</div>

{# <script src="{{ absolute_url(asset('js/countdown.js')) }}" />#}
{# <script>#}
{# $(document).ready(function(){#}

{# });#}
{# </script>#}