<div class="card text-center mb-3 mt-3">
  <div class="card-header">
{#     <h4>Importante!! Cuándo es el próximo día sin IVA en Colombia?</h4>#}
    <h3><b>BLACK FRIDAY 2020, VIERNES 27 DE NOVIEMBRE</b></h3>
    <h4>Ahorra en todas tus compras en Colombia, celebra el viernes negro - Black Friday y Cyber Lunes</h4>
    <h5>Desde el viernes 27 de Noviembre a las 00:00 hasta el domingo 29 de Noviembre de 2020 a las 23:59</h5>
    <h6>La mejor forma de aprovechar grandes ofertas en tus compras.</h6>
  </div>
{#   <div class="card-body row">#}
{#     <div class="col-sm">#}
{#         <h5 class="card-title">Próximo día sin IVA en Colombia es</h5>#}
{#         <p class="card-text">El Sábado 21 de noviembre y será la última jornada del <b>Día sin IVA</b></p>#}
{#     </div>#}
{#     <div class="col-sm">#}
{# {#         <h5 class="card-text">FALTAN</h5>#}
{#         <iframe width="301" height="155" src="https://w2.countingdownto.com/3304853" frameborder="0"></iframe>#}
{#     </div>#}
{# {#     <a href="#" class="btn btn-primary">Go somewhere</a>#}
{#   </div>#}
{#   <div class="card-footer text-muted">#}
{#     Faltan <span id="countdown">pocos</span> días para el próximo día sin IVA en Colombia#}
{#   </div>#}
</div>

{# <script src="{{ absolute_url(asset('js/countdown.js')) }}" />#}
{# <script>#}
{# $(document).ready(function(){#}

{# });#}
{# </script>#}