<!-- Features Section -->
<h2>Películas en estreno más importantes</h2>
<div class="row">
<div class="col-lg-6">
  <h2>Avengers</h2>
  <p>The Modern Business template by Start Bootstrap includes:</p>
  <ul>
    <li>
      <strong>Bootstrap v4</strong>
    </li>
    <li>jQuery</li>
    <li>Font Awesome</li>
    <li>Working contact form with validation</li>
    <li>Unstyled page elements for easy customization</li>
  </ul>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
</div>
<div class="col-lg-6 embed-responsive embed-responsive-16by9">
{#           <img class="img-fluid rounded" src="http://placehold.it/700x450" alt="">#}
{#           <div class="embed-responsive embed-responsive-16by9">#}
<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
{#           </div>#}
</div>
</div>
<!-- /.row -->