{% extends 'base.html.twig' %}

{% block seo %}
<title>Política de Privacidad CC Online Stores - cconlinestores.com</title>
<meta name="description" content="Conozca las políticas de privacidad de CC Online Stores. Conozca los lineamientos para el tratamiento de la información y el manejo de sus datos personales - cconlinestores.com">
<script type='application/ld+json'> 
{
    "@context": "http://www.schema.org",
    "@type": "WebSite",
    "name": "Política de Privacidad CC Online Stores - cconlinestores.com",
    "alternateName": "Política de Privacidad CC Online Stores - cconlinestores.com",
    "url": "/politica-de-privacidad",
    "description": "Conozca las políticas de privacidad de CC Online Stores. Conozca los lineamientos para el tratamiento de la información y el manejo de sus datos personales - cconlinestores.com"
}
</script>
{% endblock %}

{% block opengraph %}
{{ include('default/opengraph.html.twig', {
    title: 'Política de Privacidad CC Online Stores - cconlinestores.com',
    description: 'Conozca las políticas de privacidad de CC Online Stores. Conozca los lineamientos para el tratamiento de la información y el manejo de sus datos personales - cconlinestores.com',
    img: null,
    imgalt: null}) }}
{% endblock %}

{% block body %}
<link href="https://getbootstrap.com/docs/4.4/examples/starter-template/starter-template.css" rel="stylesheet">

    <div class="container">
    
    {{ wo_render_breadcrumbs() }}

        <main role="main" class="container">
            <div class="starter-template">
                <h1>DECLARACIÓN DE PRIVACIDAD</h1>
                <hr>
                <h2 class="blog-post-title">SECCIÓN 1 - ¿QUÉ HACEMOS CON TU INFORMACIÓN?</h2>

                <p class="lead">Nosotros no recolectamos tu información personal ya que dentro de nuestra página web no realizar compra alguna de los productos, sólamente te mostramos gran oferta y variedad de productos
                
                para que tomes la mejor decisión de compra y te llevamos hasta la tienda oficial de cada producto, marca o store para que puedas realizar la compra en su sitio.
                
                Cuando navegas en nuestra web, recibimos de manera automática la dirección de protocolo de internet de tu computadora (IP)
                
                con el fin de proporcionarnos información que nos ayuda a conocer acerca de su navegador y sistema operativo.
                
                <br>
                
                <b>Email marketing </b>
                
                No te enviamos correos ya que no obtenemos esta información.</p>
                
                <h2 class="blog-post-title">SECTION 2 - CONSENTIMIENTO</h2>

                <p class="lead"><b>Cómo obtienen mi consentimiento?</b>
                
                No nos provees tu información personal para completar alguna transacción pues no recolectamos este tipo de información.
                
                <b>¿Cómo puedo anular mi consentimiento?</b>
                
                En cualquier momento puedes contactarnos a futbolcolombiano.fc@gmail.com</p>
                  
                <h2 class="blog-post-title">SECCIÓN 3 - DIVULGACIÓN</h2>
                <p class="lead">No divulgamos información personal pues no la tenemos, la información que recolectamos gracias a cookies es utilizada para mostrarte espacios de pauta que no comprometen tu información.</p>
            
                <h2 class="blog-post-title">SECCIÓN 4 - SERVICIOS DE TERCERAS PARTES</h2>
                <p class="lead">En general, los proveedores de terceras partes utilizados por nosotros solo recopilarán, usarán y divulgarán tu información en la medida que sea necesaria para que les permita desempeñar los servicios que nos proveen.
                
                Para estos proveedores, te recomendamos que leas las poliíticas de privacidadpara que puedas entender la manera en que tu información personal será manejada.
                
                En particular, recuerda que algunos proveedores pueden estar ubicados o contar con instalaciones que se encuentran en una jurisdicción diferente a ti o nosotros.  Asique si deseas proceder con una transacción que involucra los servicios de un proveedor a terceros, tu información puede estar sujeta a las leyes de la jurisdicción (jurisdicciones) en que se encuentra el proveedor de servicios o sus instalaciones.
                
                A modo de ejemplo, si te encuentras en Canadá y tu transacción es procesada por una pasarela de pago con sede en Estados Unidos, entonces tu información personal utilizada para completar la transacción puede ser sujeto de divulgación en virtud de la legislación de Estados Unidos, incluyendo la Ley Patriota.
                
                Una vez que abandonas el sitio web de nuestra tienda o te rediriges a un sitio o aplicación de terceros, ya no estás siendo regulados por la presente Política de Privacidad o los Términos de Servicio de nuestra página web.
                
                <br>
                <b>Enlaces</b>
                
                Cuando haces clic en enlaces de nuestra tienda, puede que seas redirigido fuera de nuestro sitio.  No somos reponsables por las prácticas de privacidad de otros sitios y te recomendamos leer sus normas de privacidad.</p>
                  
                <h2 class="blog-post-title">SECCIÓN 5 - SEGURIDAD</h2>
                <p class="lead">Para proteger tu información personal, tomamos precauciones razonables y seguimos las mejores prácticas de la industria para asegurarnos de que no haya pérdida de manera inapropiada, mal uso, acceso, divulgación, alteración o destrucción de la misma.
                
                Toda la información que manejamos es encriptada mediante la tecnología Secure Socket Layer (SSL).  Aunque ningún método de transmisión a través de Internet o de almacenamiento electrónico es 100% seguro, seguimos todos los requisitos de PCI-DSS e implementamos normas adicionales aceptadas por la industria.</p>
                  
                <h2 class="blog-post-title">COOKIES</h2>
                <p class="lead">Aquí tienes una lista de cookies que utilizamos. Las listamos para que puedas elegir si quieres optar por quitarlas o no.
                
                <br>
                <h3>Cookies utilizadas para Estadísticas:</h3> Statistic cookies help website owners to understand how visitors interact with websites by collecting and reporting information anonymously.
                <br>
                _ga: Cookie purpose description: Registers a u n iqu e ID th at is u sed to gen erate statistical data on h ow th e visitor u ses th e w ebsite.
                <br>
                _gat: Cookie purpose description: Used by Google An alytics to th rottle requ est rate.
                <br>
                _gid: Cookie purpose description: Registers a u n iqu e ID th at is u sed to gen erate statistical data on h ow th e visitor u ses th e w ebsite.
                <br>
                ab: Cookie purpose description: Th is cookie is u sed by th e w ebsite’s operator in con text w ith mu lti-variate testin g. Th is is a tool u sed to combin e or ch an ge con ten t on th e w ebsite. Th is allow s th e w ebsite to fin d th e best variation /edition of th e site.
                <br>
                d: Cookie purpose description: Collects an on ymou s data on th e u ser's visits to th e w ebsite, su ch as th e n umber of visits, average time spe
n t on th e w ebsite an d w h at pages h ave been loaded w ith th e pu rpose of gen eratin g reports for optimisin g th e w ebsite con ten t.
                <br>
                
                <h3>Cookies utilizadas para Marketing:</h3>Marketing cookies are used to track visitors across websites. The intention is to display ads that are relevant and
engaging for the individual user and thereby more valuable for publishers and third party advertisers.
<br>
1/associates-ads/1/OP: Cookie purpose description: Used to presen t th e visitor w ith relevan t con ten t an d advertisemen t - Th e service is provided by th ird party
advertisemen t h u bs, w h ich facilitate real-time biddin g for advertisers.
<br>
1/associates-ads/1/OP/r/json: Cookie purpose description: Used to presen t th e visitor w ith relevan t con ten t an d advertisemen t - Th e service is provided by th ird party
advertisemen t h u bs, w h ich facilitate real-time biddin g for advertisers.
<br>
ad-id: Cookie purpose description: Used by Amazon Advertisin g to register u ser action s an d target con ten t on th e w ebsite based on ad clicks
on a differen t w ebsite.
<br>
ads/ga-audiences: Cookie purpose description: Used by Google AdWords to re-en gage visitors th at are likely to con vert to cu stomers based on th e
visitor's on lin e beh aviou r across w ebsites.
<br>
CMID: Cookie purpose description: Collects visitor data related to th e u ser's visits to th e w ebsite, su ch as th e n umber of visits, average time s
pen t on th e w ebsite an d w h at pages h ave been loaded, w ith th e pu rpose of displayin g targeted ads.
<br>
CMPRO: Cookie purpose description: Collects data on visitor beh aviou r from mu ltiple w ebsites, in order to presen t more relevan t advertisemen t
- Th is also allow s th e w ebsite to limit th e n umber of times th at th e visitor is sh ow n th e same advertisemen t.
<br>
CMPS: Cookie purpose description: Collects visitor data related to th e u ser's visits to th e w ebsite, su ch as th e n umber of visits, average time s
pen t on th e w ebsite an d w h at pages h ave been loaded, w ith th e pu rpose of displayin g targeted ads.
<br>
CMST: Cookie purpose description: Collects visitor data related to th e u ser's visits to th e w ebsite, su ch as th e n umber of visits, average time
spen t on th e w ebsite an d w h at pages h ave been loaded, w ith th e pu rpose of displayin g targeted ads.
<br>
DSID: Cookie purpose description: Used by Google Dou bleClick for re-targetin g, optimisation , reportin g an d attribu tion of on lin e adverts.
<br>
e/ir: Cookie purpose description: Collects data on visitors' beh aviou r an d in teraction - Th is is u sed to optimize th e w ebsite an d make
advertisemen t on th e w ebsite more relevan t.
<br>
google_adsense_settings: Cookie purpose description: Used by Google AdSen se for experimen tin g w ith advertisemen t efficien cy across w ebsites u sin g th eir servi
ces.
<br>
google_experiment_mod#: Cookie purpose description: Used by Google AdSen se for experimen tin g w ith advertisemen t efficien cy across w ebsites u sin g th eir
services.
<br>
google_pem_mod: Cookie purpose description: Used by Google AdSen se for experimen tin g w ith advertisemen t efficien cy across w ebsites u sin g th eir servi
ces.
<br>
i: Cookie purpose description: Registers an on ymised u ser data, su ch as IP address, geograph ical location , visited w ebsites, an d w h at ads
th e u ser h as clicked, w ith th e pu rpose of optimisin g ad display based on th e u ser's movemen t on w ebsites th at u se th e same ad
n etw ork.
<br>
IDE: Cookie purpose description: Used by Google Dou bleClick to register an d report th e w ebsite u ser's action s after view in g or clickin g on
e of th e advertiser's ads w ith th e pu rpose of measu rin g th e efficacy of an ad an d to presen t targeted ads to th e u ser.
<br>
KADUSERCOOKIE: Cookie purpose description: Registers a u n iqu e ID th at iden tifies th e u ser's device du rin g retu rn visits across w ebsites th at u se th e
same ad n etw ork. Th e ID is u sed to allow targeted ads.
<br>
KTPCACOOKIE: Cookie purpose description: Registers a u n iqu e ID th at iden tifies th e u ser's device du rin g retu rn visits across w ebsites th at u se th e sam
e ad n etw ork. Th e ID is u sed to allow targeted ads.
<br>
mc: Cookie purpose description: Collects data on th e u ser's visits to th e w ebsite, su ch as w h at pages h ave been loaded. Th e registered
data is u sed for targeted ads.
<br>
test_cookie: Cookie purpose description: Used to ch eck if th e u ser's brow ser su pports cookies.
<br>
u: Cookie purpose description: Collects data on u ser visits to th e w ebsite, su ch as w h at pages h ave been accessed. Th e registered data is
u sed to categorise th e u ser's in terest an d demograph ic profiles in terms of resales for targeted marketin g.
<br>
x/px/GUID#: Cookie purpose description: Un classified
<br>
yt-remote-cast-installed: Cookie purpose description: Stores th e u ser's video player preferen ces u sin g embedded You Tu be video
<br>
yt-remote-connected-devices: Cookie purpose description: Stores th e u ser's video player preferen ces u sin g embedded You Tu be video
<br>
yt-remote-device-id: Cookie purpose description: Stores th e u ser's video player preferen ces u sin g embedded You Tu be video
<br>
yt-remote-fast-check-period: Cookie purpose description: Stores th e u ser's video player preferen ces u sin g embedded You Tu be video
<br>
yt-remote-session-app: Cookie purpose description: Stores th e u ser's video player preferen ces u sin g embedded You Tu be video
<br>
yt-remote-session-name: Cookie purpose description: Stores th e u ser's video player preferen ces u sin g embedded You Tu be video
                </p>
                  
                <h2 class="blog-post-title">SECCIÓN 6 - EDAD DE CONSENTIMIENTO</h2>
                <p class="lead">Al utilizar este sitio, declaras que tienes al menos la mayoría de edad en tu estado o provincia de residencia, o que tienes la mayoría de edad en tu estado o provincia de residencia y que nos has dado tu consentimiento para permitir que cualquiera de tus dependientes menores use este sitio.</p>
                
                <h2 class="blog-post-title">SECCIÓN 7 - CAMBIOS A ESTA POLÍTICA DE PRIVACIDAD</h2>
                <p class="lead">Nos reservamos el derecho de modificar esta política de privacidad en cualquier momento, asique por favor revísala frecuentemente.  Cambios y aclaraciones entrarán en vigencia inmediatamente después de su publicación en el sitio web.  Si hacemos cambios materiales a esta política, notificaremos aquí que ha sido actualizada, por lo que cual estás enterado de qué información recopilamos, cómo y bajo qué circunstancias, si las hubiere, la utilizamos y/o divulgamos.
                
                Si nuestra tienda es adquirida o fusionada con otra empresa, tu información puede ser transferida a los nuevos propietarios, para que podamos seguir vendiéndote productos.</p>
                  
                <h2 class="blog-post-title">PREGUNTAS E INFORMACIÓN DE CONTACTO</h2>
                <p class="lead">Si quieres: acceder, corregir, enmendar o borrar cualquier información personal que poseamos sobre ti, registrar una queja, o simplemente quieres más información contacta a nuestro Oficial de Cumplimiento de Privacidad enviando un correo a futbolcolombiano.fc@gmail.com
                <br>indicando en el Asunto/Subject <b>[Re: Privacy Compliance Officer - cconlinestores]</b></p>
                <hr>
            </div>
        </main>

    </div>
    <!-- /.container -->
{% endblock %}