<div class="row">
    <div class="col-lg-12 fixed-bottom">
        <button type="button" class="btn btn-info float-right" data-toggle="modal" data-target="#subscribeModal">SUSCRÍBITE A NUESTRO BOLETÍN</button>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="subscribeModal" tabindex="-1" role="dialog" aria-labelledby="subscribeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="subscribeModalLabel">SUSCRÍBITE A NUESTRO BOLETÍN</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-inline" method="POST" id="subscribeForm">
          <div class="form-group mx-sm-auto">
            <input type="email" class="form-control" id="email" placeholder="EMAIL" name="email" required>
          </div>
          <button type="submit" class="btn btn-primary">Suscribir</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
$( document ).ready(function() {
    $( "#subscribeForm" ).submit(function( event ) {
        // Stop form from submitting normally
        event.preventDefault();
        // Get some values from elements on the page:
        var $form = $( this ),
        email = $form.find( "input[name='email']" ).val(),
        url = "{{ path('identity_verify') }}";
        // Send the data using post
        var posting = $.post( url, { email: email } );
        
        // Put the results in a div
        posting.done(function( data ) {
//             var content = $( data ).find( "#content" );
//             $( "#result" ).empty().append( content );
            sendEmail(data);
        });
    });
});

function sendEmail (data) {
	var emailAuthHash = data.osiv; // Email auth hash generated from your server
	OneSignal.setEmail(data.email, {
        emailAuthHash: emailAuthHash
    });
}
</script>