# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    publish_on: [facebook, linkedin, twitter]         # List which Social networks you will be publishing to and configure your access to them as shown below
    providers_facebook_app_id: "525024014892347"
    providers_facebook_app_secret: "f165bafb5ce32af5e690ddcde6259971"
    providers_facebook_defaul_access_token: "EAAHdga3nZCTsBAHzzZCjwypBrO2pBUUhlRut1xzdFMoMv36Bc0JmnMbcaVaOTVFOlu1Ibi3BZBCP5aJnOZAH7YgzrBHG7wLKumN909VuXadhV7QcTTUlZAHtXlZAhB25OQ7Rkdk6L6X6aj4ZAGF29e0IjNMlVMqpgFMcUtZCoa0tC2Wg2YlIlMV5"
    providers_facebook_page_id: "182679275999767"
    providers_twitter_account: "cconlinestores"
    providers_twitter_consumer_key: "YOUR-TWITTER-APP-CONSUMER-KEY"
    providers_twitter_consumer_secret: "YOUR-TWITTER-APP-CONSUMER-SECRET"
    providers_twitter_access_token: "YOUR-TWITTER-ACCESS-TOKEN"
    providers_twitter_access_token_secret: "YOUR-TWITTER-ACCESS-TOKEN-SECRET"
    ONESIGNAL_REST_API_KEY: ONESIGNAL_REST_API_KEY
    EBAY_DOMAIN: "https://api.sandbox.ebay.com"
    EBAY_DOMAIN_2: "https://svcs.sandbox.ebay.com/services/search/FindingService/v1"
