<div class="m12 s12 col center p-2">
{#     <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>#}
    <ins class="adsbygoogle"
         style="display:block; text-align:center;"
         data-ad-layout="in-article"
         data-ad-format="fluid"
         data-ad-client="ca-pub-1806990656415176"
         data-ad-slot="9773188366"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
