<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Buscar ofertas y productos nuevos - Black Friday - HOTSALE - CyberLunes</h1>
    <script async data-cfasync="false" src="https://cse.google.com/cse.js?cx=d83920774f8bce206"></script>
    <div class="gcse-search"></div>
  </div>
</div>