<div class="ads-trailers mt-2">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- CCOS - 545x76 -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:545px;height:76px"
         data-ad-client="ca-pub-1806990656415176"
         data-ad-slot="8825906382"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>