{% extends "::base.html.twig" %}

{% block title %}AppBundle:Services:osIdentityVerification{% endblock %}

{% block body %}
<h1>Welcome to the Services:osIdentityVerification page</h1>
{% endblock %}
