<!-- START THE FEATURETTES -->
<div class="row my-4 pb-3 mb-4 border-bottom">
    <h1 class="font-italic col">TimeShare - Venta y alquiler de tiempo compartido</h1>
    <p class="text-muted text-right col font-weight-light m-auto">{{ "now"|localizeddate('full', 'none', 'es', 'America/Bogota') }}</p>
</div>

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="">Zuana Beach Resort.</h2>
    <p class="lead">Zuana Beach Resort está ubicado en el sector de Bello Horizonte, a 5 minutos del Aeropuerto Simon Bolivar y a 10 minutos del Rodadero. 
Cuenta con 7 piscinas, 3 restaurantes, 3 canchas de tennis, bolos, mini mercado, boutique, agencia de viajes, recreación, juegos de mesa, juegos electrónicos para niños, habitaciones de lujo, gimnasio, Spa, jacuzzi y un parque temático infantil.</p>
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action active">
        Ver ofertas
        <span class="badge badge-primary badge-pill">2</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="https://www.metrocuadrado.com/inmueble/venta-apartamento-santa-marta-bello-horizonte-1-habitaciones-1-banos-1-garajes/MC1793879" class="btn-lg" role="button" aria-pressed="true" target="_blank">SUITE EN VENTA Y ARRIENDO, SANTA MARTA, SANTA MARTA ZUANA</a>
        <span class="badge badge-primary badge-pill">1</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="https://www.metrocuadrado.com/inmueble/venta-apartamento-santa-marta-2-habitaciones-1-banos-1-garajes/MC1837530" class="btn-lg" role="button" aria-pressed="true" target="_blank">APARTAMENTO EN VENTA Y ARRIENDO, SANTA MARTA, SANTA MARTA ZUANA - RODADERO Y GAIRA</a>
        <span class="badge badge-primary badge-pill">1</span>
      </li>
    </ul>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-fluid mx-auto" src="img/timeshare/zuana.jpg" alt="Zuana Beach Resort" />
  </div>
</div>

<hr>
<!-- /END THE FEATURETTES -->