<!-- START THE FEATURETTES -->
<h2 class="pb-3 mb-4 font-italic border-bottom">TimeShare - Venta y alquiler de tiempo compartido</h2>

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="">Zuana Beach Resort.</h2>
    <p class="lead">Zuana Beach Resort está ubicado en el sector de Bello Horizonte, a 5 minutos del Aeropuerto Simon Bolivar y a 10 minutos del Rodadero. 
Cuenta con 7 piscinas, 3 restaurantes, 3 canchas de tennis, bolos, mini mercado, boutique, agencia de viajes, recreación, juegos de mesa, juegos electrónicos para niños, habitaciones de lujo, gimnasio, Spa, jacuzzi y un parque temático infantil.</p>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-fluid mx-auto" src="img/timeshare/zuana.jpg" alt="Zuana Beach Resort">
  </div>
</div>

<hr class="featurette-divider">
<!-- /END THE FEATURETTES -->